.title__product{
    text-align: center;
    margin-top: 57px;
    &>h1{
    letter-spacing: 0.2em;
    font-family: Arial,Helvetica,sans-serif;
    color:rgb(87, 104, 85);
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    height: 62.4px;
    line-height: 62.4px;
    font-weight: 800;
    margin-bottom: 25px;
    }
    &>p{
        margin-bottom: 57px;
        color: rgb(66, 66, 66);
        letter-spacing: 3.15px;
        font-family: questrial, sans-serif ;
        font-size: 21px;
    }
}
.page__btn{
    display: flex;
    position: absolute;
    right: 239px;
}
.back__btn{
    border-right: 0.5px solid #ccc;
}

.info__page{
    width: 30%;
    position: absolute;
    right: 20%;
    bottom: 180px;
}
.productsinfo__list{
    margin-top: 75%;
    margin-left: 62%;
    color: #424242;
    font-family: questrial, sans-serif ;
    &>ul{
        border-bottom: 1px solid rgb(199, 199, 199);
        width: 450px;
        font-size: 15px;
        &>li{
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 20px;
            text-align: justify;
        }
    }
   
}
.MuiTreeItem-root.Mui-selected> .MuiTreeItem-content .MuiTreeItem-label{
    background-color: unset !important;
}
.MuiTreeItem-label:hover{
    background-color: unset !important;

}
.MuiTreeItem-content{
    height: 49px;
}
.MuiTreeItem-label{
    padding-left: unset !important;
    text-transform: uppercase;
}
.slideshow__product{
    width: 1050px;
    margin-top: 36px;
    margin-left: 15.5%;
    margin-bottom: 30px;
    &>h2{
        padding-bottom: 36px;
        text-align: center;
        font-family: questrial, sans-serif ;
        font-size: 27px;
        font-weight: 400;
        color: #424242;
    }
}
.footer__linkpage{
    margin-top: 50px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
.slideshow__product2{
    display: none;
}
@media (max-width: 740px){
    .productall__page{
        width: 100%;
        overflow: hidden;
    }
    .title__product{
        margin: 20px !important;
        &>h1{
            letter-spacing: 0.07em !important;
            font-size: 25px !important;
            line-height: 24.7px !important;
            margin-bottom: 20px !important;
            height: unset !important;
        }
        &>p{
            font-family: questrial, sans-serif;
            font-size: 16px;
            opacity: 0.8;
            margin-bottom: 20px !important;
            letter-spacing: 1px;
            text-align: center;
            padding: 0 20px;
        }
    }
    .footer__pages{
        width: 100% !important;
        height: 650px !important;
    }
    .detail__page{
        width: 100%;
    }
    .productsinfo__list{
        width: 333px;
        margin-top: 70%;
        margin-left: auto;
        &>ul{
            width: 100% !important;
            &>li{
                width: 100% !important;
            }
        }
    }
    .MuiGrid-container{
        width: 100% !important;
        flex-wrap: nowrap;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }
    .makeStyles-root-17{
        width: unset !important;
        margin-left: unset !important;
    }
    .makeStyles-root-425{
        display: none !important;
    }
    .detail__productlist{
        position: relative;
        width: 100%;
    }
    .react-slideshow-wrapper.slide{
        width: 100% !important;
        // height: 880px;
    }
    .MuiBox-root-418{
        width: 100% !important;
    }
    .makeStyles-root-869{
        width: unset !important;
    }
    .MuiBox-root-862 {
        width: 100% !important;
    }
    .MuiContainer-root{
        padding: unset !important;
    }
    .slideshow__product{
        width: unset !important;
        margin-left: unset !important;
    }
    .makeStyles-root-463{
        width: unset !important;
    }
    .slideshow__product2{
        display: block;
        height: 100%;
        &>h2{
            margin: 40px 0 ;
            text-align: center;
        }
    }
    .slideshow__product{
        display: none;
    }
    .makeStyles-left-18{
        width: unset !important;
    }
    .page__btn{
        z-index: 20;
        right: unset !important;
        width: 100%;
        justify-content: space-between;
    }
    .back__btn{
        border-right: unset !important;
    }
    .footer__linkpage{
        width: 100%;
        height: 600px;
    }
    .MuiGrid-spacing-xs-5{
        margin: unset !important;
    }
    .makeStyles-root-434{
        width: unset !important;
        margin-left: unset !important;
    }
}
