*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home__page{
    padding: 0 5.5%;
    margin-top: 5%;
}
.about__btn,
.nature__simple,
.shopall__btn,
.item1__title,
.item2__title,
.shopsoaps__btn,
.home__title{
    color: #424242;
}
.natural__list,
.nature__simple,
.nature__simple,
.out__fav,
.shopall__btn,
.home__title{
    font-family: lulo-clean-w01-one-bold, questrial, sans-serif;
}

.slide__nav{
    height: 820px;
    position: relative;
}
.home__title{
    position: absolute;
    top: 25%;
    line-height: 62.4px;  
    text-transform: uppercase;
    right: 12%;
    &>h1{
        font-size: 48px;
        width: 675px;
        letter-spacing: 7px;
        font-weight: 800;
    }  
    &>p{
        font-size: 21px;
        letter-spacing: 3px;
        opacity: 0.8;
    }
}

.about__btn,
.shopsoaps__btn,
.shopall__btn{
    border: 5px solid #424242;
    text-decoration: none;
    padding: 11px 27px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
}
.about__btn:hover,
.shopsoaps__btn:hover,
.shopall__btn:hover{
    background-color: #AEBDAC;
    border-color: #AEBDAC;
    color: #ffffff;
}
.frais__page,
.nature__simple,
.out__fav{
    height: 800px;
    width: 945px;
    margin-left: auto;
    margin-right: auto;
    &>h1{
        text-align: center;
        color: #576855;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 800;
        letter-spacing: 4px;  
        margin-bottom: 52px;  
    }
}
.out__item2,
.out__item1{
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}
.item1__title{
    margin-right: 38%;
    text-align: right;
    &>h2{
        line-height: 1.5;
        font-size: 22px;
        letter-spacing: 4px;  
        font-weight: 800;
        text-transform: uppercase;
        margin: 20px 0 16px 0;
    }
    &>p{
        font-size: 15px;
        line-height: 27px;
        font-family: questrial, sans-serif;
        letter-spacing: 0.75px;
        opacity: 0.8;
        margin-bottom: 30px;
    }
    
} 
.about__btn,
.shopsoaps__btn{
    text-transform: uppercase;
}
.item2__title{
    margin-left: 32%;
    text-align: left;
    &>h2{
        line-height: 1.5;
        font-size: 22px;
        letter-spacing: 4px;  
        font-weight: 800;
        text-transform: uppercase;
        margin: 20px 0 16px 0;
    }
    &>p{
        font-size: 15px;
        line-height: 27px;
        font-family: questrial, sans-serif;
        letter-spacing: 0.75px;
        opacity: 0.8;
        margin-bottom: 30px;
    }

}
.nature__simple{
    &>p{
    padding: 0 14%;
    margin-bottom: 52px;
    line-height: 1.8em;
    font-size: 18px;
    text-align: justify;
    opacity: 0.8;
    }
}
.natural__list{
    position: relative;
    display: flex;
    flex-wrap: nowrap !important;
    padding: 0 14%;
    color: #576855;
    font-size: 13px;
}
.natural__item{
    &>h4{
        font-size: 11px;
        letter-spacing: 2px;
        text-align: right;
    }
    &>p{
        margin-left: 20%;
        line-height: 2.5;
        font-style: italic;
        opacity: 0.8;
        margin-bottom: 12px;
    }
}
.about__btn{
    position: absolute;
    right: 37.5%;
    top: 50%;
}
.frais__page{
    height: 700px;
    &>h3{
        margin-top: 30px;
        border-bottom: 2px solid black;
        margin-bottom: 50px;
    }
}
