*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-decoration{
    text-decoration: none;
}
.font{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
     color: rgb(66, 66, 66);
     text-align: center;
}
.font:hover{
    color:teal;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
}
.header__nav{
    height: 40px;
    width: 100%;
    background-color: rgb(170,187,173);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25em;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    color: rgb(66, 66, 66);
}
.nav__bar{
    padding: 0 16%;
    height: 202px;
}
.nav__title{
    position: absolute;
    font-size: 29px;
    top: 20%;
    padding: 12px 40px;
    text-transform: uppercase;
    border: 7px solid rgb(66, 66, 66);
    color: rgb(66, 66, 66);
    letter-spacing: 0.37em;
    text-align: center;
    line-height: normal;
}
.nav__link{
    display: flex;
    &>ul{
        margin-left: 28%;
        margin-top: 13%;
        display: flex;
        &>li{
         padding: 0 27px;
         list-style-type: none;
         text-transform: uppercase;
         display: flex;
         align-items: center;
        }
    }
}

.menu__list{
    display: none;
}
.cart__btn{
    float: right;
    margin-top: 122px;
}

@media (max-width: 740px){
    .header__page{
        width: 100%;
        z-index: 5000;
        position: fixed;
        margin-top: -19.7px;
        background-color: white;
        height: 15%
    }
    .nav__bar{
        margin-top: 15px;
        padding: unset;
        display: flex;
        height: unset;
        align-items: center;
        justify-content: space-around;
    }
    .header__nav{
        font-size: 10px;
    }
    .nav__title{
        position: unset;
        padding: 6px 28px;
        font-size: 17px;
        font-weight: 800;
    }
   .nav__link{
       display: none;
   }
   .menu__list{
    display: block;
    &>ul>li{
       list-style-type: none;
    }
   }
   .MuiMenuItem-root{
       text-align: center !important;
   }
   .MuiPaper-root{
       width: 110%;
   }
   .MuiPopover-paper{
    max-width: none !important;
    left: 0 !important;
    height: 100% !important;
    top: unset !important;
   }
   .menu__style{
       &>li{
           list-style-type: none;
       }
   }
   .MuiMenu-paper{
    max-height: unset !important;
   }
   .cart__btn{
    float: right;
    margin-top: unset;
}
}   