*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fraiss__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &>ul>li{
        list-style-type: none;
        margin-bottom: 30px;
    }
}
@media (max-width: 740px){
    .fraiss__img{
        &>img{
            width: 135px !important;
        }
    }
    .fraiss__items{
        display: flex;
        padding: 0 35px;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
}