.title__product{
    &>h1{
    letter-spacing: 0.2em;
    font-family: Arial,Helvetica,sans-serif;
    color:rgb(87, 104, 85);
    font-size: 50px;
    font-weight: 400;
    height: 62.4px;
    line-height: 62.4px;
    font-weight: 800;
    margin-bottom: 25px;
    text-transform: uppercase;
    }
}
.about__img{
    position: absolute;
    bottom: -32%;
    left: 25.5%;    
    &>img{
        width: 410px;
    }
}
.about__img2{
    &>img{
        margin-top: 270px;
        margin-bottom: 140px;
        width: 348px;
        margin-right: 540px;
    }
}
.about__title{
    position: absolute;
    top: 70%;
    width: 380px;
    right: 19%;
    &>p{
        letter-spacing: 0.03em;
        line-height: 1.8em;
        color: #424242;
        font-size: 15px;
        font-family: questrial, sans-serif;
        text-align: justify;
        margin-bottom: 26px;
    }
    &>h2{
        color: #424242;
        font-size: 22px;
        font-family: lulo-clean-w01-one-bold, sans-serif;
        line-height: 37.4px;
        margin-bottom: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
}
.about__title2{
    &>p{
        letter-spacing: 0.03em;
        line-height: 1.8em;
        color: #424242;
        font-size: 15px;
        font-family: questrial, sans-serif;
        text-align: justify;
        margin-bottom: 26px;
    }
}
.borders__botom{
    &>p{
        border-bottom: 2px solid black;
        width: 889px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}