*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.product__list{


}
.product__src{
    left: 20px;
}

.product__name{
    position: absolute;
    left: 20px;

}
.product__prices{
    position: absolute;
    left: 20px;

}