*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.cart__list{
    padding-top: 45px;
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
.cart__info{
    display: flex;
}
.cart__item{
    width: 600px;
    margin-right: auto;
    &>h5{
        border-top: black solid 1px;
        margin: 16px 0 40px 0;
    }
}
.cart__total{
    width: 380px;
    &>h5{
        margin: 16px 0 20px 0;
        border-top: black solid 1px;
    }
}
.product__title{
    width: 600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 30px;
}
.product__item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
.border__bottom{
    &>h2{
        margin: 10px 0 20px 0;
        border-bottom-color: #42424242;
        border-bottom-style: dotted;
        border-bottom-width: 0.5px;
    }
    
}
.cart__totalList{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.cart__totalname{
    border-bottom: black solid 1px;
}
.footer__page4{
    margin-top: 50px;
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    &>p{
        border-bottom: 2px solid;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}
.subQuantity__cart,
.subtotal__cart{
    display: flex;    
    justify-content: space-between;
    margin: 20px 0;
}
@media (max-width: 740px){
    .cart__page,
    .cart__list,
    .cart__total,
    .cart__item{
        width: 100%;
        overflow-x: hidden;
        &>p{
            margin-left: 10px;
        }
    }
    .cart__info{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .subQuantity__cart,
    .subtotal__cart{
        &>p{
            margin:0 10px;
        }
    }
    .product__item{
        padding: 0 10px;
    }
    .footer__page4{
        width: 100%;
        height: 660px;
    }
    .footer__text{
        // margin-top: 10px;
    }
}