.contact__page{
    width: 1045px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    &>h1{
        text-align: center;
        color: #576855;
        font-size: 48px;
        font-family: lulo-clean-w01-one-bold, sans-serif;
        letter-spacing: 3.36px;
        line-height: 62.4px;
        text-transform: uppercase;
        margin: 57px 0 57px 0;
    }
}
.contact__text{
    display: inline-block;
    width: 490px;
    position: absolute;
    &>h2{
        letter-spacing: 3px;
        color: #576855;
        font-size: 15px;
        font-family: questrial, sans-serif;
        margin: 0 0 8px 0;
        margin-bottom: 8px;
    }
    &>h3{
        height: 8px;
    }
    &>p{
        font-size: 15px;
        letter-spacing: 0.05em;
        font-family: questrial, sans-serif;
        width: 269px;
        color: #424242;
        line-height: 27px;
        margin: 11px 0 39px 0;
    }
    &>span{
        font-size: 15px;
        letter-spacing: 0.05em;
        font-family: questrial, sans-serif;
        width: 269px;
        color: #424242;
        line-height: 27px;
    }
}
.footer__page3{
    margin-top: 70px;
    width: 1045px;
    margin-left: auto;
    margin-right: auto;
    &>p{
        border-bottom: 2px solid;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 740px){
    .contact__page{
        margin-top: unset !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 131px;
        &>h1{
            margin:26px 0 22px 0 !important;
            font-size: 19px;
            letter-spacing: 1.33px;
            line-height: 24.7px;

        }
    }
    .contact__text{
        width: 100%;
        position: unset;
        text-align: center;
        &>p{
            margin: 0 40px 20px 40px;
            width: unset;
            letter-spacing: 0.7px;
            line-height: 25.2px;
            font-size: 14px;
            text-align: center;
        }
        &>span{
            padding-bottom: 20px;
        }
    }
    .input__list{
        width: 100%;
    }
    .input__name{
        width: unset !important;
    }
    .input__email{
        width: unset !important;
        margin-left: unset;
    }
    .input__title{
        display: unset;
    }
    .contact__form{
        padding: 29px 20px;
    }
    .footer__page3{
         margin-top: 337px;
        height: 690px;
        width: 100%;
    }
    .footer__text{
        margin-top: 30px;
    }
}