.product__price{
   opacity: 0.6;
}
.card__btn{
    background-color: rgb(87, 104, 85);
    width: 100%;
    padding: 8px 16px;
    border-style: none;
    color: white;
    font: normal normal normal 11px/1.4em lulo-clean-w01-one-bold,sans-serif;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}