.product__price{
   opacity: 0.6;
}
.card__btn{
    background-color: rgb(87, 104, 85);
    width: 100%;
    padding: 8px 16px;
    border-style: none;
    color: white;
    font: normal normal normal 11px/1.4em lulo-clean-w01-one-bold,sans-serif;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.thumbnail__product{
    &>img{
        width: 440px;
        margin-bottom: 40px;
        border-radius: 4px;
    }
}
.products__name{
    color: #575757;
    font-size: 26px !important;
    font-family: questrial, sans-serif;
    padding: 0 8px 0 8px;
}
.products__price{
    padding: 23px 8px 0 8px;
    color: #575757;
    font-family: questrial, sans-serif;
    font-size: 20px;

}